.section7 {
  padding: 0;
  height: 880px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 5px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: #3F5978;
  background-color: #fff;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.buttonScheduleApp {
  font-size: 16px;
  background: rgb(63, 89, 120);
  padding: 10px 5px;
  background-color: #3F5978;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonScheduleApp:hover{
  background-color: #4f6f95;;
}

.gallery-container {
    overflow: hidden;
  }

  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 25%); /* Adjust based on the number of images and desired distribution */
    transition: transform 0.5s ease; /* Updated transition property */
    width: 100%; /* Ensure the gallery takes the full width */
  }
  
  
  .gallery-item {
    position: relative;
    height: 100%;
    transition: opacity 0.5s ease; /* Added transition property for opacity */
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-image-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
  }

  .gallery-item-title {
    text-align: center;
    
  }
  
  

  /* YourComponent.css */

/* Add your existing styles for the slider container */
.slide-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
/* This content might be through off the iphoneImage*/
  /* .content {
    width: 100%;
    max-width: 1200px;
  } */
  
  .text-container {
    margin-right: auto; /* Align the text to the right */
    text-align: left; /* Align the text to the left */
  }
  
  h3 {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .body {
    margin-top: 80px; /* Your original margin-top value */
    font-size: 30px; /* Adjust the font size as needed */
    color: #333; /* Set the text color as needed */
  }

   
.imageFamily {
    width: 40%;  /* Set your desired width */
    height: 200%; /* Set your desired height */
  }
  
  /* Animation for fade-in */
  .slide.fade-enter {
    opacity: 0;
  }
  
  .slide.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  /* Animation for slide-in (optional) */
  .slide.slide-enter {
    transform: translateX(100%);
  }
  
  .slide.slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in;
  }

/* Office Slider */
#tv-plus-gallery {
  margin: 0 auto;
  /* max-width: 1200px; */
  max-height: 750px; 
}

.slick-slider {
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  flex: 0 0 auto;
  /* padding: 0 15px; Adjust spacing as needed */
}


.gallery-item {
  width: 100%;
  height: 100%; /* Set your desired height */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  /* max-width: 100%; */
  /* max-height: 100%; */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

.inner {
  /* border: 1px solid #ccc; */
  padding-left: 5px; /* Adjust the left padding as needed */
  padding-right: 5px; /* Adjust the right padding as needed */
  text-align: center;
  width: 100%;
  max-width: none !important;
}


@media screen and (max-width: 1455px) {
  .section7 {
    margin-left: 200px;
    margin-right: 200px;
  }
    
  .gallery-image-title {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 1255px) {
  .section7 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .buttonScheduleApp {
    font-size: 14px;
  }
}

@media screen and (max-width: 1020px) {
  .section7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .buttonScheduleApp {
    font-size: 12px;
  }
}