/* CSS NOTES */
/* Without dot means apply to all */
/* With dot means apply only to those that call it */

* {
  box-sizing: border-box;
}

body {
  /* margin:Handles the margin space between the navbar and the screen*/
  margin: 0;
}

.navBar-Header,
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  overflow: hidden;
}

.navBar-Header {
  background-color: #e4e4e4e4;
  color: #ffffff;
  height: 35px;
}

.nav {
  color: #3f5978;
  height: 75px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Logo {
  height: 40px;
}

.nav .leftSide {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding: 2px 15px;
}

.nav .logo img {
  width: 100px;
  height: auto;
  margin-left: 250px;
}

.nav .rightside {
  display: flex;
  margin-right: 300px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}


.nav p {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
  transition: 1s background-size;
}


.nav a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  /* text-decoration: Underline */
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
  transition: 1s background-size;
}

.nav ul a:hover {
  background-size: 100% .1em;
}

/* Mega dropdown css */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: #3f5978;
  padding: 0 1rem;
  gap: 2rem;
  height: 100%;
  background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
  transition: 1s background-size;

  

  

  
}

.dropdown .dropbtn:hover {
  background-size: 100% .1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #ffffff;
  color: #3f5978;
  margin-left: 300px;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  background-color: #ffffff;
  margin-left: 250px;
}

.row {
  padding: 20px 50px;
}

.column a {
  float: none;
  color: #3f5978;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-size: 100% .1em;
  color: #3f5978;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column a {
  /* text-decoration: Underline */
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
  transition: 1s background-size;
}

@media screen and (min-width: 1505px) {
  .nav .logo img {
    margin-left: 250px;
  }

  .nav .rightside {
    margin-right: 250px;
  }
}

@media screen and (min-width: 1403px) and (max-width: 1504px) {
  .nav .logo img {
    margin-left: 200px;
  }

}


@media screen and (min-width: 1240px) and (max-width: 1402px) {
  .nav .logo img {
    margin-left: 150px;
  }

  .nav .rightside {
    margin-right: 250px;
  }
}


@media screen and (min-width: 1100px) and (max-width: 1239px) {
  .nav .logo img {
    margin-left: 100px;
  }

  .nav .rightside {
    margin-right: 200px;
  }
}

@media screen and (min-width: 915px) and (max-width: 1099px) {
  .nav .logo img {
    margin-left: 50px;
  }

  .nav .rightside {
    margin-right: 150px;
  }
}

@media screen and (min-width: 788px) and (max-width: 914px) {
  .nav .logo img {
    margin-left: 10px;
  }

  .nav .rightside {
    margin-right: 100px;
  }
}

/* Media Query for 0px to 787px screens */
@media screen and (min-width: 0px) and (max-width: 787px) {
  .nav .leftSide {
    display: none;
  }

  .nav .rightside {
    display: none;
  }
  

   /* Display the menu three-bar icon */
   .nav .dropdown .dropdown-btn {
    width: 30px;
    height: 30px; 
    background: url('../assets/ThreeLines.png') center center no-repeat; 
    background-size: contain;
    cursor: pointer;
  }

  .nav .dropdown:hover .dropdown-content {
    display: flex;
  }
}