/* ImageCarousel.css */
.image-carousel {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 28%;
  height: 56%;
  margin-top: 70px;
}

.carousel-image {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}

/* 
  .homeImage {
    position: absolute;
    top: 0;
    right: 350px; 
    top: 120px;
    width: 28%; 
    height: 56%;
    margin-top: 70px;
  
  }
   */
  